.searchBar {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

.searchForm {
  display: flex;
  justify-content: center;
}

.searchInput {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.searchButton {
  background-color: #00bfff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 16px;
}
